
.board > div {
  border: 1px solid black;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}